<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">CO2 Wallet (Carbon footprint)</h4>
                        <p class="card-category">The total amount of greenhouse gases produced to directly and
                            indirectly support human activities, usually expressed in equivalent tons of carbon dioxide
                            (CO2).</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-upgrade">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <img class="carbonImg" src="./assets/img/co2.jpg"
                                            title="CO2 Wallet (Carbon footprint)">
                                    </tr>

                                    <tr>
                                        <td>
                                            <blockquote class="blockquote quotes">
                                                <p>
                                                    "The simplest way to remove carbon dioxide, the main greenhouse gas,
                                                    is to grow plants - preferably trees, since they tie up more of the
                                                    gas in cellulose, meaning it will not return to the air within a
                                                    season or two. Plants build themselves out of air and water, taking
                                                    only a tiny fraction of their mass from the soil"
                                                </p>
                                                <small>
                                                    Gregory Benford
                                                </small>
                                            </blockquote>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <blockquote class="blockquote">
                                                <p style="text-decoration:underline">
                                                    Reduce Your Carbon Footprint From Driving
                                                </p>
                                                <small>
                                                    <ul style="list-style-type:square;">
                                                        <li>Alternatives to driving(Walk, car-pool etc.)</li>
                                                        <li>Drive a low carbon vehicle</li>
                                                        <li>Get a hitch-mounted cargo rack</li>
                                                        <li>Avoid traffic</li>
                                                    </ul>
                                                </small>
                                            </blockquote>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <blockquote class="blockquote">
                                                <p style="text-decoration:underline">
                                                    Reduce Your Carbon Footprint From Air Travel
                                                </p>
                                                <small>
                                                    <ul style="list-style-type:square;">
                                                        <li>Work Air Travel - Increase your use of video-conferencing
                                                            tools like Skype and Facetime.</li>
                                                        <li>Economy class is best - Carbon emissions is relatively less
                                                            because it’s spread out over more people</li>
                                                        <li>Don’t fly on private jets</li>
                                                        <li>Don’t be a space tourist</li>
                                                    </ul>
                                                </small>
                                            </blockquote>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <blockquote class="blockquote">
                                                <p style="text-decoration:underline">
                                                    Reduce Your Home Energy Carbon Footprint
                                                </p>
                                                <small>
                                                    <ul style="list-style-type:square;">
                                                        <li>Insulate and seal your home</li>
                                                        <li>Appliances</li>
                                                        <li>Lighting</li>
                                                        <li>Solar</li>
                                                    </ul>
                                                </small>
                                            </blockquote>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <blockquote class="blockquote">
                                                <p style="text-decoration:underline">
                                                    Reduce Your Carbon Footprint From Food
                                                </p>
                                                <small>
                                                    <ul style="list-style-type:square;">
                                                        <li>Eat locally-produced and organic food</li>
                                                        <li>Cut the beef and dairy</li>
                                                        <li>Avoid Party</li>
                                                    </ul>
                                                </small>
                                            </blockquote>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <blockquote class="blockquote">
                                                <p style="text-decoration:underline">
                                                    Other Ways to Reduce Your Carbon Footprint
                                                </p>
                                                <small>
                                                    <ul style="list-style-type:square;">
                                                        <li>Water usage</li>
                                                        <li>Reuse and recycle</li>
                                                        <li>Support clean energy sources</li>
                                                    </ul>
                                                </small>
                                            </blockquote>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <blockquote class="blockquote quotes">
                                                <p>
                                                    Offsetting Your Carbon Footprint
                                                </p>
                                                <small>
                                                    <p><i>
                                                            "Carbon offsetting should not be done in place of taking
                                                            steps to reduce one’s carbon footprint. Carbon offsetting
                                                            and carbon footprint reduction should be done in tandem.
                                                            Measuring your carbon footprint not only reveals where
                                                            you’re currently at, but also helps to identify areas for
                                                            improvement and track your progress."
                                                        </i>
                                                    </p>
                                                </small>
                                            </blockquote>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>