<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a routerLink="/aboutCO2">
                        About CO2 Wallet
                    </a>
                </li>
                <li>
                    <a href="/aboutUs">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="#" target="_blank">Tree Of LIFE</a> for a better future.
        </div>
    </div>
</footer>
