.login-img{
    width: 50px;
    display: block;
    max-height: 45px;
    margin-left: 1px;
    margin-right: 15px;

    img{
        width: 50px;
        cursor: pointer;
    }
}

.login-by{
    font-weight: bolder;
}