<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Login</h4>
            <p class="card-category">Complete your profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email or Username">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label><b>Or Login By</b></label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <div class="login-img">
                    <img src="/assets/img/google-plus.png" title="Facebook Login" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="login-img">
                    <img src="/assets/img/linkedin.png" title="LinkedIn Login" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="login-img">
                    <img src="/assets/img/facebook.png" title="Facebook Login" />
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="login-img">
                    <img src="/assets/img/twitter.png" title="Twitter Login" />
                  </div>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right">Login</button>
              <button mat-raised-button type="Register" class="btn pull-right">Register</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>